.blogCard{
    width: 33.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5rem;
    padding: 0 2rem 2rem 2rem;
    background-color: #fff;
}

.blogCard img{
    width: 33.8rem;
    height: 22.5rem;
}

.blogCard figure{
    overflow: hidden;
}

.blogCardTitle, .blogCardText, .blogCardAuthor{
    width: 100%;
    margin-top: 2rem;
}

.blogCardTitle{
    font-size: 2rem;
    font-weight: 600;
}

.blogCardText{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.5rem;
    color: #5f727f;
}

.blogCardAuthor{
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 2rem;
    color: #99a9b5;
}

.blogCardDate{
    font-weight: normal;
}


@media (min-width: 1300px){
    .blogCard{
        width: 30rem;
    }
    
    .blogCard img{
        width: 30rem;
        height: 20rem;
    }
}
