#contactWrapContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 2rem;
    margin: 3rem 0;
    background-image: url('../images//background-contact-v.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#contactInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35rem;
    min-height: 10rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    padding: 2rem 0;
    background-color: #fff;
}

#contactInfo p{
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--blue);
    opacity: 1;
}

#contactInfo ul{
    width: 70%;
    margin-top: 3rem;
}

#contactInfo ul li{
    width: 100%;
    font-size: 1.8rem;
    color: var(--light-black);
}

#contactInfo #noCost{
    margin-top: 3rem;
    font-size: 1.8rem;
    color: var(--light-black);
}

#contactInfo #conditions{
    font-size: 1.4rem;
    color: #333;
}

form{
    width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
}

label{
    font-size: 1.4rem;
}

label,
input[type='text'],
input[type='email'],
textarea{
    width: 100%;
    padding: 0.5rem;
    font-size: 1.6rem;
}

input[type='text'],
input[type='email']{
    margin-bottom: 1rem;
}

textarea{
    resize: none;
}

#required{
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
}

input[type='submit']{
    width: 100%;
    padding: 1rem 0;
    margin: 2rem 0;
    background-color: var(--green);
    cursor: pointer;
    border: none;
    font-size: 1.4rem;
    color: #fff;
    font-weight: bold;
}

input[type='submit']:hover{
    filter:brightness(1.2) ;
}

@media(min-width: 768px){
    #contactWrapContainer{
        flex-direction: row;
        background-image: url('../images//background-contact-h.jpg');
    }

    #contactInfo{
        margin-right: 3rem;
        margin-bottom: 0;
        height: 40.5rem;
    }

    #contactInfo #noCost{
        margin-top: 5rem;
    }
}