#dropDownMenu{
    display: none;
    justify-content: center;
    align-items: center;
}

.dropDownMenu_item{
    display: inline-flex;
    margin-left: 5rem;
    font-size: 1.6rem;
    text-decoration: none;
    color: #fff;
}

.active{    
    border-bottom: 3px solid #3477ff;
}

@media (min-width: 1200px){
    #dropDownMenu{
        display: flex;
    }
    
}