main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 6rem;
}

#mainImageContainer{
    position: relative;
    min-height: 20rem;
    max-height: 69.6rem;
    overflow: hidden;
    position: relative;
    z-index: 9;
    
}

#h1Start{
    margin: 0 3rem 0 2.5rem;
    z-index: 10;
    font-size: 2.2rem;
    text-align: left;
    color: #fff;
}

#h1Start span{
    font-size: 1.8rem;
    line-height: 7.6rem;
}

#h1Start_container{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
}

.h1Start_blueDiv{
    position: absolute;
    background-color: var(--green);
}

#h1Start_blueDiv1{
    top: 2.9rem;
    left: 16rem;
    width: 0.8rem;
    height: 1.7rem;
}

#h1Start_blueDiv2{
    top: 7.8rem;
    left: 0.5rem;
    width: 1.3rem;
    height: 10rem;
}

#first_p_noMobil{
    display: none;
    width: 100%;
    position: absolute;
    bottom: 3rem;
    left: 0;
    text-align: center;
    font-size: 1.6rem;
    color: #fff;
}

#first_p_mobil{
    display: inline-block;
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.6rem;
    color: #000;
}

.mainImage{
    filter: brightness(40%);
}

#mainImage768x446{
    width: 100%;
}

#mainImage1200x696{
    width: 100%;
    display: none;
}

#mainImage1500x870{
    width: 100%;    
    display: none;
}

#noCompite{
    width: 100%;
    background-color: var(--light-black);
    margin-top: 3rem;
    text-align: center;
    padding: 2rem 1rem;
    font-size: 2.5rem;
    color: #fff;
}

#responsive_proposal_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

#responsiveImg_container{
    width: 100%;
    position: relative;
}

#responsive_design{
    position: absolute;
    top: 18rem;
    left: 0;
    background-color: var(--green);
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 1rem;
}

#responsiveImg768, #responsiveImg900{
    width: 100%;
}

#responsiveImg900{
    display: none;
}

#proposal{
    padding: 4rem 1rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    background-color: #3477ff;
}



@media (min-width: 768px){
    #mainImage768x446{
    display: none;
    }

    #mainImage1200x696{
        display: block;
    }

    #h1Start_container{
        height: 60%;
        margin-top: 3rem;
        margin-left: 3rem;
    }

    #first_p_noMobil{
        display: inline-block;
    }

    #first_p_mobil{
        display: none;
    }

    #noCompite{
        margin-top: 0;
    }

    #responsiveImg768{
        display: none;
    }

    #responsiveImg900{
        display: block;
    }
}

@media (min-width: 1200px){
    #mainImage1200x696{
    display: none;
    }

    #mainImage1500x870{
        display: block;
    }

    #h1Start_container{
        margin-top: 5rem;
        margin-left: 12rem;
    }

    #responsive_proposal_container{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #responsiveImg_container{
        width: 60%;
    }

    #proposal{
        width: 40%;
    }
 }

 .start_sectionTitle{
     width: 100%;
     margin-top: 10rem;
     text-align: center;
     padding: 2rem 0 4rem 0;
     background-color: var(--light-black);
     font-size: 2rem;
     color: #fff;
 }