
:root{
  --gray: #272B33;
  --light-black: #0A0C10;
  --dark-black: #010409;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 62.5%;
}

body{
  width: 100%;
  min-height: 100vh;
  user-select: none;
  margin: 0 auto;
  max-width: 150rem;
}