
:root{
  --gray: #303233;
  --light-black: #1A1A1A;
  --dark-black: #010409;
  --green: #5EBB1E;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 62.5%;
}

body{
  width: 100%;
  min-height: 100vh;
  user-select: none;
  margin: 0 auto;
  max-width: 150rem;
}